GITHUB_TOKEN=your_github_pat_here
GITHUB_USERNAME=your_github_username
GROQ_API_KEY=your_groq_key_here
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ

# Comma-separated list of repos to monitor
REPOS=org/repo1,org/repo2,org/repo3

# Shown in the Slack footer
SCHEDULE=3:00 pm - 8:00 pm
CC=@Someone (Title)
